/*
  Fuentes

  font-family: 'Lacquer', Tahoma;
  font-family: 'Noto Sans', Tahoma;
  font-family: 'Roboto', Tahoma;

  Colores

  rgba(80, 15, 187, 1);                                                         Morado primario
  rgba(15, 54, 187, 1);                                                         Azul primario

  Iconos

  <i class="fas fa-plus"></i>                                                   Icono más, añadir o agregar
  <i class="fas fa-star"></i>                                                   Iconos de estrellas
  <i class="fas fa-star-half"></i>                                              Icono media estrella
  <i class="fas fa-eye"></i>                                                    Icono de vistas

  <i class="fas fa-file-alt"></i>                                               Publicación tipo articulo
*/

/* General containers */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: transform 0.5s;
  }

  body{
    font-size: 16px;
    font-family: 'Noto Sans', 'Roboto', tahoma;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #F0F0F0;

    display: flex;
    flex-flow: row wrap;
    position: relative;
  }

/* Publicaciones */
  /* Grid */

  .posted{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .post{
    width: 19%;
    height: 350px;
    margin: 10px 0.5%;

    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15);

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .post .row-top{
    width: 100%;
    height: 150px;


    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .post .img-post{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .post .row-top .favs{
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

  .post .row-top .favs i{
    margin: 0;
    padding: 0;
  }

  .post .row-top .columns{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.75);
  }

  .post .row-top .columns .type{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post .row-top .columns .type i{
    font-size: 32px;
  }

  .post .row-top .columns .name{
    height: 70%;
    width: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
  }

  .post .row-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  .post .row-bottom .stars{
    width: 100%;
    height: 25px;
    font-size: 15px !important;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .post .row-bottom .author, .post .row-bottom .subject{
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(15, 54, 187, 0.75);
    font-size: 12px;
  }

  .post .row-bottom .subject{
    color: rgba(80, 15, 187, 0.75);
  }

  .post .row-bottom .resume{
    display: flex;
    width: 100%;
    height: 75px;
    font-size: 12px;
    line-height: 15px;
    padding: 0px 10px;
    overflow: hidden;
  }

  .post .row-bottom .date{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba( 15, 96,187, 1);
    font-size: 12px;
    padding: 5px 10px;
  }

  .post .row-bottom .date button, .post-list .row-bottom .date button{
    overflow: hidden;
  }

  .post .row-bottom .date button, .post-list .row-bottom .date button{
    transform: none;
  }

  .post-list{
    width: 100%;
    min-height: 75px;
    margin: 10px;

    background: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.15);

    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .post-list .row-top{
    height: 75px;
    width: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
  }

  .post-list .row-top .columns{
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.75);
    color: white;
  }

  .post-list .row-top .columns .type{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  .post-list .row-top .columns .type i{
    font-size: 32px;
  }

  .post-list .row-bottom{
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
  }

  .post-list .row-bottom .favs{
    position: absolute;
    top: 5px;
    right: 0px;
    color: red;
  }

  .post-list .row-bottom .stars, .post-list .row-bottom .views{
    display: flex;
    width: 12.5%;
  }

  .post-list .row-bottom h6{
    font-size: 16px;
    width: 75%;
  }

  .post-list .row-bottom .date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 25%;
    color: rgba( 15, 96,187, 1);
    font-size: 12px;
  }

  .post-list .row-bottom .date button{
    margin: 0;
  }

  .post-list .row-bottom .author, .post-list .row-bottom .subject{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    color: rgba(15, 54, 187, 0.75);
    width: 75%;
    font-size: 12px;
  }

  .post-list .row-bottom .author i, .post-list .row-bottom .subject i{
    margin: 0;
    padding: 0;
  }

  .post-list .row-bottom .subject{
    color: rgba(80, 15, 187, 0.75);
  }

  .post-list .row-bottom .resume{
    display: none;
  }

/* Titles */

  h1{
    font-size: 36px;
    font-weight: bold;
    color: rgba(15, 54, 187, 1);
  }

  h2{
    font-size: 28px;
    font-weight: bold;
    color: rgba(15, 54, 187, 1);
  }

  h3{
    font-size: 24px;
    font-weight: bold;
    color: rgba( 73,165,191, 1);
  }

  h4{
    font-size: 20px;
    font-weight: bold;
    color: rgba(15, 54, 187, 1);
  }

  h5{
    font-size: 18px;
    font-weight: bold;
    color: rgba( 73,165,191, 1);
  }

  h6{
    font-size: 16px;
    color: rgba(15, 54, 187, 1);
  }

/* Buttons */

  .btn{
    width: 150px;
    height: 40px;
    margin: 15px;
    padding: 5px;

    background: transparent;
    font-size: 15px;
    color: black;

    border: 1px solid rgba(80, 15, 187, 0.5);
    cursor: pointer;
    border-radius: 2px;
    transition: transform 0.1s;
  }

  .btn:hover{
    transform: scale(1.05);
    opacity: 0.75;
  }

  .primary{
    background: rgba(80, 15, 187, 1);
    border: 1px solid rgba(80, 15, 187, 0.5);
    color: white;
  }

  .secondary{
    background: rgba(166, 15,187, 1);
    border: 1px solid rgba(166, 15,187, 1);
    color: white;
  }

  .tertiary{
    background: rgba( 73,165,191, 1);
    border: 1px solid rgba( 73,165,191, 1);
    color: white;
  }

  .auxiliary{
    background: rgba( 15, 96, 187, 1);
    border: 1px solid rgba( 15, 96, 187, 1);
    color: white;
  }

  .success{
    background: rgba(0, 128, 0, 1);
    border: 1px solid rgba(0, 128, 0, 1);
    color: white;
  }

  .danger{
    background: rgba(128, 0, 0, 1);
    border: 1px solid rgba(128, 0, 0, 1);
    color: white;
  }

  .xsmall{
    width: 60px;
    height: 25px;
    padding: 5px;

    margin: 10px 0 0 0;
    font-size: 12px;
  }

  .small{
    width: 100px;
    height: 30px;
    padding: 5px;

    font-size: 12px;
  }

  .big{
    width: 180px;
    height: 50px;
    padding: 10px;

    font-size: 20px;
  }

/* Forms */

  label{
    width: 12%;
    display: inline-block;

    font-size: 16px;
    font-family: 'Roboto';
  }

  input, textarea{
    width: 35%;
    display: inline-block;

    padding: 5px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }

  .input-line{
    width: 35%;
    display: inline-block;

    background: transparent;
    color: white;
    padding: 5px;
    margin: 5px;
    border: 0;
    border-bottom: 2px solid white;
    border-radius: 0px;
    font-size: 16px;

    transition: all 0.3s;
  }

  .input-line::placeholder{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.75);
  }

  .input-line:focus{
    outline: none;
    transform: scale(1.1);
  }

  fieldset{
    width: 100%;
    border: 0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
  }

  fieldset label{
    width: 24%;
    cursor: pointer;
  }

  fieldset label .radio{
    display: inline-block;
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(80, 15, 187, 0.25);
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
  }

  fieldset input[type="radio"]:checked + label .radio{
    background: rgba(80, 15, 187, 0.75);
  }

  fieldset label .check{
    display: inline-block;
    position: relative;
    top: 3px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(80, 15, 187, 0.25);
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
  }

  fieldset label .check i{
    display: none;
  }

  fieldset input[type="checkbox"]:checked + label .check{
    background: rgba(80, 15, 187, 0.75);
  }

  fieldset input[type="checkbox"]:checked + label .check i{
    position: relative;
    top: 3px;
    left: -1px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 12px;
    font-weight: bold;
  }

  input[type="radio"], input[type="checkbox"]{
    width: 20px;
    display: none;
  }

  .color{
    width: 100px;
    height: 100px;

    margin: 0 15px;
  }

  .lb-color{
    position: relative;
    top: 5px;
    margin: 0;
    position: relative;
    width: 25%;
    height: 30px;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
  }

  .lb-color span{
    width: 40%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
    align-items: center;

    font-size: 16px;
    color: white;
    font-weight: bold;

    background: rgba(0, 0, 0, 0.35);
  }

  .lb-color .jscolor{
    position: absolute;
    top: -10px;
    left: -10px;

    width: 120%;
    padding: 0;
    border: 0;
    background: transparent;
    height: 40px;
    cursor: pointer;
    z-index: -1;

    padding-left: 50%;
    font-size: 16px;
  }

  .lb-file{
    width: 22%;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
  }

  .lb-file span{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: bold;
  }

  input[type="file"]{
    display: none;
  }

  i{
    padding: 0 10px;
  }

/* Logos and slogan */

  .logo-xl{
    font-family: "Segoe Script", "Lacquer", "Roboto";
    font-size: 48px;
  }

  .logo{
    font-family: "Segoe Script", "Lacquer", "Roboto";
    font-size: 36px;
  }

  .logo-sm{
    font-family: "Segoe Script", "Lacquer", "Roboto";
    font-size: 24px;
  }

  .logo-sm .logo-img{
    width: 35px;
    height: 35px;
    margin-bottom: -5px;
  }

  .logo-img{
    width: 75px;
    height: 75px;
    margin-bottom: -10px;
  }

  .email{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 20px;
    font-family: 'Roboto';
  }

  .email span{
    display: flex;
    padding: 5px 2px;
  }

/* Embeed videos */

  iframe{
    min-width: 360px;
    min-height: 240px;

    width: 480px;
    height: 360px;

    display: flex;
  }

/* Icons */

  .star{
    color: gold !important;
  }

/* Overflow scrollbar */

  ::-webkit-scrollbar{
      width: 10px;
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
  }
  ::-webkit-scrollbar-track{
      background: rgba(255, 255, 255, 0.1);
  }
  ::-webkit-scrollbar-thumb{
      background: rgba(15, 54, 187, 1);
      cursor: pointer;
  }
